@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans.eot),
    url(./fonts/OpenSans.ttf),
    url(./fonts/OpenSans.otf),
    url(./fonts/OpenSans.woff),
    url(./fonts/OpenSans.woff2);
}

@font-face {
    font-family: 'BebasNeue';
    src: url(./fonts/BebasNeue-Regular.eot),
    url(./fonts/BebasNeue-Regular.ttf),
    url(./fonts/BebasNeue-Regular.otf),
    url(./fonts/BebasNeue-Regular.woff),
    url(./fonts/BebasNeue-Regular.woff2);
}

*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 940px;
    width: 100%;
}